body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #2E2F42;
}
header {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    
   }

.logo {
    width: 115px;
    height: 24px;
    margin-left: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.site-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #2E2F42;
    font-size: 16px;
    margin-left: 347px;
    margin-top: 24px;
    margin-bottom: 24px;
    list-style-type: none;
    } 
.link {
    color: #2E2F42;
    text-decoration: none;
    }
.link:hover, .link:active {
    color: #404BBF;    
}

.address-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 940px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 156px;
    list-style-type: none;
         
}
.address-link {
    text-decoration: none;
    color: #434455;
    display: inline;
    }
.address-link:hover {
    color: #404BBF;
}
.main-block {
    width: 1140px;
    height: 600px;
    background-color: #2E2F42;
}
h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2%;
   }
.main-button {
    width: 164px;
    height: 56px;
    background-color: #4D5AE5;
    text-align: center;
    margin-top: 40px;
    
}
