body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
}
header {
    background-color: #FFFFFF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4d5ae5; 
}
.logo:focus {
    color: #404bbf;
}
.span-logo {
    color: #2e2f42;
}
.site-nav {
    font-weight: 500;
    font-style: normal;
    color: #2E2F42;
    font-size: 16px;
    list-style-type: none;
} 
.link {
    color: #2E2F42;
    text-decoration: none;
}
.link:hover, .link:active {
    color: #404BBF;    
}
.had-address {
    font-style: normal;
}
.address-nav {
    font-weight: 400;  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;      
}
.address-link {
    text-decoration: none;
    color: #434455;
    display: inline;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:hover {
    color: #404BBF;
}
.main-block {
    background-color: #2E2F42;
}
h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2%;
    font-size: 56px;    
}
.main-button {
    background-color: #4D5AE5;
    text-align: center;
    color: #FFFFFF;
    border-color:#4D5AE5;
    font-size: 16px;
    cursor: pointer;
}
.main-button:hover {
    background-color: #404BBF;
}
.spase {
    color: #FFFFFF;
}
.feature {
   background-color: #FFFFFF;
   text-align: left;
   list-style-type: none;
}
.feat-title {
    font-size: 20px;
    font-weight: medium;
}
.feat-text {
    color: #434455;
    font-size: 16px;
    font-weight: 200;
}
.team-list {
    background-color: #F4F4FD;
}
.team-title {
    color: #2E2F42;     
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.team-list-bloks {
    list-style-type: none;
}
.team-name {
    color: #2E2F42;
    font-weight: medium;
    font-size: 20px;    
}
.team-text .portfolio-text {
    color: #434455;
    font-size: 16px;
    letter-spacing: 2%;
}
.portfolio-list {
    background-color: #E7E9FC;
}
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.portfolio-list-blocks {
    list-style-type: none;
}
.portfolio-list-blocks-title {
    color: #2E2F42;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}
footer {
    background-color: #2E2F42;
}
.footer-text {
    color: #F4F4FD;
    width: 264px;
    font-size: 16px;
    letter-spacing: 2%;
  }
  .span-logo-foot {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

