body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFFFFF;
}
header {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
.logo {
    width: 115px;
    height: 24px;
    margin-left: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.site-nav {
    font-weight: 500;
    font-style: normal;
    color: #2E2F42;
    font-size: 16px;
    margin-left: 347px;
    margin-top: 24px;
    margin-bottom: 24px;
    list-style-type: none;
} 
.link {
    color: #2E2F42;
    text-decoration: none;
}
.link:hover, .link:active {
    color: #404BBF;    
}
.address-nav {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: 940px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 156px;
    list-style-type: none;      
}
.address-link {
    text-decoration: none;
    color: #434455;
    display: inline;
}
.address-link:hover {
    color: #404BBF;
}
.main-block {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
}
h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2%;
    font-size: 56px;    
}
.main-button {
    width: 164px;
    height: 56px;
    background-color: #4D5AE5;
    text-align: center;
    margin-top: 40px;
    color: #FFFFFF;
    border-color:#4D5AE5;
    font-size: 16px;
    cursor: pointer;
}
.main-button:hover {
    background-color: #404BBF;
}
.spase {
    color: #FFFFFF;
}
.feature {
   background-color: #FFFFFF;
   text-align: left;
   list-style-type: none;
}
.feat-title {
    width: 264px;
    height: 24px;
    font-size: 20px;
    font-weight: medium;
}
.feat-text {
    color: #434455;
    font-size: 16px;
    font-weight: 200;
}
.team-list {
    background-color: #F4F4FD;
    width: 1440px;
    height: 600px;
}
.team-title {
    color: #2E2F42;     
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}
.team-list-bloks {
    list-style-type: none;
}
.team-pictur {
    height: 260px;
}
.team-name {
    color: #2E2F42;
    font-weight: medium;
    font-size: 20px;    
}
.team-text .portfolio-text {
    color: #434455;
    font-size: 16px;
    letter-spacing: 2%;
}
.portfolio-list {
    background-color: #E7E9FC;
    width: 1128px;
    height: 1000px;
    margin-left: 156px;
    margin-right: 156px;
    margin-bottom: 120px;
}
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;;
}
.portfolio-list-blocks {
    list-style-type: none;
}
.portfolio-image {
    width: 360px;
    height: 300px;
}
.portfolio-list-blocks-title {
    color: #2E2F42;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
}
footer {
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
}
.footer-text {
    color: #F4F4FD;
    width: 264px;
    font-size: 16px;
    letter-spacing: 2%;
    margin-left: 156px;
}

